body {
    font-family: Helvetica, sans-serif;
    margin: auto;
}

h1 {
    font-style: Helvetica;
    color: azure;
}

.cover {
    height: 400px;
    color: white;
    background-color: blueviolet;
}